@media (max-width: 479px) {}

@media (min-width: 480px) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}

@media (min-width: $screen-lg-min) {}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf) format('ttf'), url(../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf) format('ttf'), url(../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans/PTC55F.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans/PTC75F.ttf) format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans/PTN57F.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
}

$color: #9f9acf;
$color-opacity: rgba(159, 154, 207, 0.5);
$main-font: 'ProximaNova';
$second-font: 'PT Sans';

/*---------- Colorization ----------*/
.color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-opacity;
}

/*---------- Navbar ----------*/
#nav {
    &.default {
        @media (max-width: $screen-xs-max) {
            position: relative;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            position: absolute;
            left: calc(50% - 375px);
            top: 0;
        }
    }
    &.fixed {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: $color-opacity;
        @media (max-width: $screen-xs-max) {
            height: 80px;
        }
    }
}
.cd-navbar {
    &__toggle {
        @media (max-width: $screen-xs-max) {
            position: absolute;
            top: 0;
            left: 25px;
        }
    }
    &__brand-link {
        @media (max-width: $screen-xs-max) {
            position: absolute;
            top: 0;
            left: calc(50% - 27px);
        }
    }
    &__svg {
        @media (max-width: $screen-xs-max) {
            height: 50px;
        }
    }
    &__brand {
        fill: $color;
        stroke-dasharray: 400;
        stroke-dashoffset: 100;
        animation: dash 7s linear;
        transition: fill 0.5s linear;
        &:hover {
            transform-origin: 50% 50%;
            transform: rotate(-10deg);
        }
        @keyframes dash {
            0% {
                stroke-dashoffset: 400;
                fill: none;
            }
            50% {
                stroke-dashoffset: 100;
                fill: none;
            }
            100% {
                stroke-dashoffset: 100;
                fill: $color;
            }
        }
    }
    &__link {
        font-family: $main-font;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 72px!important;
        text-transform: uppercase;
        &:hover {
            background: none!important;
            text-decoration: underline!important;
            color: #fff;
        }
        @media (max-width: $screen-xs-max) {
            line-height: 24px!important;
        }
    }
    #nav &__icon-bar {
        background: #fff;
        width: 36px;
        height: 5px;
        border-radius: 15px;
        &+& {
            margin-top: 6px;
        }
    }
    &__collapse {
        @media (max-width: $screen-xs-max) {
            position: absolute;
            top: 80px;
            left: 0;
            background-color: $color-opacity;
        }
    }
}

/*---------- Active for menu ----------*/
.active {
    background: $color;
}

/*---------- Title for sections ----------*/
.header {
    text-align: center;
    &__img {
        margin: 0 auto;
        display: block;
    }
    &__title {
        font-family: $main-font;
        margin-top: 30px;
        color: #fefbfc;
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        &--black {
            color: #665f60;
        }
    }
}

/*---------- Arrow ----------*/
.arrow {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: $color url(../img/arrow-top.png) center center no-repeat;
    width: 84px;
    height: 84px;
    opacity: 0.5;
    text-align: center;
    display: none;
    &:hover {
        opacity: 1;
    }
}

/*---------- Social ----------*/
.social {
    background: $color;
    padding: 20px 0;
    &__block {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 50%;
        margin: 0 6px;
        border: 2px solid $color;
        text-align: center;
        &:hover {
            background: $color;
            border-color: #fff;
            .fa {
                color: #fff;
            }
        }
        .fa {
            color: $color;
            font-size: 20px;
            line-height: 32px;
        }
    }
}


/*---------- Placeholder ----------*/
::-webkit-input-placeholder {
    color: #fff;
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    color: #fff;
}
textarea::-webkit-input-placeholder {
    color: #fff!important;
}
textarea::-moz-placeholder {
    color: #fff!important;
}
textarea:-ms-input-placeholder {
    color: #fff!important;
}
textarea:-moz-placeholder {
    color: #fff!important;
}
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder {
    color: transparent
}
:focus:-moz-placeholder {
    color: transparent
}
:focus:-ms-input-placeholder {
    color: transparent
}