.about {
    &__main {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    &__left {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        max-height: 555px;
    }
    &__bg {
        width: 100%;
        height: auto;
    }
    &__header {
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 75px;
    }
    &__right {
        padding-top: 75px;
    }
    &__text {
        text-align: left;
    }
    &__p {
        font-family: $second-font;
        color: #665f60;
        font-size: 20px;
        font-weight: normal;
    }
    &__button {
        text-align: center;
        padding-top: 75px;
    }
    &__btn {
        padding: 15px 50px;
        border-color: #7d7a7c;
        border-radius: 0;
        font-family: $second-font;
        color: #7d7a7c;
        font-size: 20px;
        font-style: italic;
        &:hover, &:focus, &:active {
            background: none!important;
            color: #7d7a7c;
        }
    }
}