.services {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(200px, 400px) minmax(200px, 400px);
        grid-template-areas: "lefttop    centertop    right" "leftbottom centerbottom right";
    }
    &__grid1 {
        grid-area: lefttop;
    }
    &__grid2 {
        grid-area: centertop;
    }
    &__grid3 {
        grid-area: leftbottom;
    }
    &__grid4 {
        grid-area: centerbottom;
    }
    &__grid5 {
        grid-area: right;
    }
    &__block {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        perspective: 800px;
        height: 100%;
//        transition: all .4s ease-in;
        &:hover {
            .services__front {
                transform: rotateY(-180deg);
                z-index: 3;
            }
            .services__back {
                transform: rotateY(0deg);
                z-index: 4;
            }
        }
    }
    &__cell {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        transform-style: preserve-3d;
        transition: .4s ease-in;
        transition-property: transform;
        height: 400px;
    }
    &__front {
        padding-top: 96px;
        z-index: 1;
        backface-visibility: hidden;
        background: #fff;
    }
    &__front--c {
        background: #dbdbdb;
    }
    &__front--p {
        height: 800px;
        background: url(../img/bg-services.png);
    }
    &__back {
        padding-top: 50px;
        transform: rotateY(-180deg) translateZ(0);
        backface-visibility: hidden;
        background: #fff;
    }
    &__back--c {
        background: #dbdbdb;
    }
    &__back--p {
        height: 800px;
        background: rgba(159, 154, 207, 0.5);
    }
    &__title {
        font-family: $second-font;
        color: #665f60;
        font-size: 25px;
        font-weight: 700;
    }
    &__text {
        font-family: $second-font;
        color: #665f60;
        font-size: 18px;
        font-style: italic;
        width: 200px;
        margin: 0 auto;
    }
}